#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.divbutton:hover button {
    height: 25px;
    display: inline-block;
}

button {
    height: 20px;
    width: 40px;
    display: none;
    border: 1px solid;
    border-radius: 7px;
    background: wheat;
    padding-top: 0px;
}

table button{
    display: none;
}

table tr:hover button{
    display:block;
}

.borderless td, .borderless th, .borderless tr {
    border: none;
    border-top: none !important;
}

.btn.btn-square {
    height: 20px;
    width: 20px;
}

.body {
  background-color: white;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}