<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}
<div class="container">

<h3>Create a new note:</h3>
<p>
    A note is a task you'll perhaps do or want to keep in mind today, it can have a set time. F.ex. "Dad flies back from Munich today."
</p>
<form action="" method="post" name="edit">
    {{ form.hidden_tag() }}
    <p>
        Note text:<br>
        {{ form.text(size=64) }}
    </p>
    <p>
        Is the note timed?
        {{ form.isTimed }}
    </p>
    <p>
        Enter time for Note:
        {{ form.time }}
    </p>

    <input class="btn btn-lg btn-primary" type="submit" value="Submit">
</form>

</div>


{% endblock %}

</body>
</html>