<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   {% extends "base.html" %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                  <h2>{{ group[0][1] }}</h2>
                    <h3>Description:</h3>
                    <p>{{ group[0][2] }}</p>

                    {% if grouped %}
                        You are in this group.
                        <h4>Users in group: {{ users|length }}</h4>

                        <h5>Users:</h5>
                        {% for i in range(0, users|length) %}
                            <p>
                            {{ users[i][2] }}
                            {% if admin and user.id != users[i][0]%}
                                {% if users[i][0] not in admins %}
                                <a href="{{ url_for('make_user_admin', user_id=users[i][0], group_id=group[0][0]) }}"><button type="button" class="btn btn-xs btn-warning">Make Admin</button></a>
                                <a href="{{ url_for('remove_user', user_id=users[i][0], group_id=group[0][0]) }}"><button type="button" class="btn btn-xs btn-danger">Remove</button></a>

                                {% else %}
                                     <a href="{{ url_for('demote_user_admin', user_id=users[i][0], group_id=group[0][0]) }}"><button type="button" class="btn btn-xs btn-warning">Demote Admin</button></a>

                                {% endif %}
                            {% endif %}
                            </p>
                        {% endfor %}
                        <br>
                        <p>
                        <h6>Add new post:</h6>
                         <form action="" method="post" name="add">
                            {{ form.hidden_tag() }}
                            <p>
                                Title:<br>
                                {{ form.title(size=64) }}
                            </p>
                            <p>
                                Text:<br>
                                {{ form.text(size=64) }}
                            </p>

                            <input class="btn btn-lg btn-primary" type="submit" value="Post">
                        </form>
                        </p>
                        <br>
                        <p>
                        <h5>Discussion:</h5>
                        {% for id, user_id, group_id, title, text, created_at, edited_at, username in discussions %}

                            <table class="table table-striped col-xs-12">
                            <tr>
                                <td class="col-xs-5">{{ title }}</td><td class="col-xs-2">{{ username}}</td><td class="col-xs-4">{{ created_at }}</td>
                                {% if user_id == user.id %}
                                    <td class="col-xs-1"><a href="{{ url_for('discussion_edit', id=id) }}">Edit</a></td>
                                {% endif %}{% if admin %}
                                    <td><a href="{{ url_for('discussion_delete', id=id) }}">Delete</a></td>{% endif %}
                            </tr>
                            <tr>
                                <td class="col-xs-12">{{ text }}</td>
                            </tr>

                            </table>

                        {% endfor %}
                        </p>
                        <br>
                        <p>
                        <a href="{{ url_for('leave_group', id=group[0][0]) }}"><button type="button" class="btn btn-danger">Leave Group</button></a>
                        </p>
                    {% if admin %}
                        <br>
                        <p>
                         <a href="{{ url_for('group_edit', id=group[0][0]) }}"><button type="button" class="btn btn-warning">Edit Group</button></a>

                        </p>
                    {% endif %}
                    {% else %}
                        <form method="post" name="focus">
                            <input type="submit" class="btn btn-default" name="join" value="Join Group">
                        </form>
                    {% endif %}
                </div>
            <div class="col-md-3"></div>
            </div>
        </div>
    {% endblock %}
</body>
</html>