<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

    <div class="container">
  <div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-6">
                <h2>Goal</h2><br>
                Blaablaa

            </div>

            <div class="col-md-6">
                <h2>Focus</h2><br>
                Blaablaa
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Group</h2><br>

                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non consectetur ex. Vestibulum accumsan dapibus neque vel sollicitudin. Curabitur ultrices erat vitae nibh sodales pretium. Duis blandit, nisi sed scelerisque gravida, diam magna condimentum odio, at sollicitudin sapien diam eu orci. Aenean et nisl quam. Etiam eleifend metus lorem, et egestas mi gravida vitae. Cras molestie diam a nulla ultricies, et lacinia felis cursus. Cras libero eros, tincidunt vel eros et, pulvinar gravida ex. Sed imperdiet ex id rhoncus porta. Integer enim diam, molestie sed pulvinar ut, suscipit id turpis. Proin pulvinar elementum massa quis facilisis. Nam pharetra mi non malesuada vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

            </div>
        </div>

    </div>
    <div class="col-md-6">
      <h2>Terve {{ user.name }}</h2>
        Todot jne.
    </div>
  </div>
</div>


{% endblock %}
</body>
</html>