<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <script type="text/javascript">

$("#affirmationButton").click(function(){
    alert("?");
    $("#affirmationForm").toggle();
});

</script>

</head>
<body>

{% extends "base.html" %}
{% block content %}

    <div class="container">
    <div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-6">
                <h2>Goals {% if not past %}<a href="{{ url_for('goal_add') }}">(+)</a>{% endif %}</h2>

                <table class="table borderless">
                    {% for id, user_id, text, points, isActive, created_at, edited_at, end_date in goals %}
                    <tr>
                        <td class="col-xs-1">
                            <form method="post" name="goals">
                                {% if not past %}
                                <button type="submit" class="btn btn-xs btn-info btn-square" value={{ id }} name="goal">+</button>
                                {% endif %}
                            </form>
                        </td>
                        <td>
                            {{ text }}
                        </td>
                        <td>
                            {{ points }}
                        </td>
                        <td>
                            <a href="{{ url_for('goal_edit',id=id) }}"><button type="button" class="btn-primary btn-xs">Edit</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <div class="col-md-6">
                <h2>Focus {% if not past %}<a href="{{ url_for('focus_add') }}">(+)</a>{% endif %}</h2>
                                <table class="table borderless">
                    {% for id, user_id, text, points, created_at in focus %}
                    <tr>
                        <td class="col-xs-1">
                            {% if not past %}
                            <form method="post" name="focus">
                                <button type="submit" class="btn btn-xs btn-warning btn-square" value={{ id }} name="focus">+</button>
                            </form>
                            {% endif %}
                        </td>
                        <td>
                            {{ text }}
                        </td>
                        <td>
                            {{ points }}
                        </td>
                        <td>
                            <a href="{{ url_for('focus_edit',id=id) }}"><button type="button" class="btn-primary btn-xs">Edit</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Groups</h2><br>

                <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-6">
                        <div class="carousel-inner">
                            {% if groups|length > 0 %}
                            <div class="item active">
                                <div class="carousel-content">
                                    <div>
                                        <h4><a href="{{ url_for('group',id=groups[0][0]) }}">{{ groups[0][1] }}</a></h4>
                                        <p>
                                            {{ groups[0][2] }}
                                        </p>
                                        <p>
                                            <h6>Latest post:</h6>

                                               {% for id, user_id, group_id, title, text, created_at, edited_at, username in latest[groups[0][0]] %}

                                            {{ username }}: {{ text }}

                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>
            
                            {% for i in range(1,groups|length) %}
            
                            <div class="item">
                                <div class="carousel-content">
                                    <div>
                                        <a href="{{ url_for('group',id=groups[i][0]) }}">{{ groups[i][1] }}</a></h4>
                                        <p>{{ groups[i][2] }}</p>
                                        <p>
                                            <h6>Latest post:</h6>
                                        {% for id, user_id, group_id, title, text, created_at, edited_at, username in latest[groups[i][0]] %}

                                            {{ username }}: {{ text }}

                                        {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" href="#text-carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
                </div></div></div></div>




         <div class="col-md-6">

        <h2> <a href="{{ url_for('timetravel', date=days["yesterday"]) }}"><</a>  {{ days["today"].strftime("%d %B %Y") }}  <a href="{{ url_for('timetravel', date=days["tomorrow"]) }}">></a>  </h2>

             <h3>{{ message }}</h3>

             <h4>Notes {% if not past %}<a href="{{ url_for('note_add', date=days["today"]) }}">(+)</a>{% endif %}</h4>

            <table class="table borderless">
                {% for id, user_id, text, isTimed, time, date in tnotes %}
                    <tr>
                    <td class="col-xs-1"> {{ time.hour }}:
                        {% if (time.minute == 0) %}00
                        {% else %}
                                {{ time.minute }}
                        {% endif %}
                    </td>
                    <td class="col-md-2">{{ text }}</td>
                    <td class="col-xs-1"><a href="{{ url_for('note_edit',id=id) }}"><button type="button">Edit</button></a></td>
                    </tr>
                {% endfor %}
            </table>


        <table class="table borderless">
            {% for id, user_id, text, isTimed, time, date in notes %}
            <tr>
                <td class="col-md-1">{{ text }}</td>
                <td class="col-xs-1"><a href="{{ url_for('note_edit',id=id) }}"><button type="button">Edit</button></a></td>
            </tr>
            {% endfor %}
        </table>


        <h4>Todos {% if not past %}<a href="{{ url_for('todo_add', date=days["today"]) }}">(+)</a>{% endif %}</h4>
         <form method="post">

         <table class="table borderless">

        {% for id, user_id, text, isComplete, date in todos %}

            {% if isComplete == 0 %}
            <tr><td class="col-xs-6">
                <label><input type="checkbox" name='check' value={{ id }}  onclick="this.form.submit()"> {{ text }} </label> </td><td class="col-xs-5"><font color="orange">{{ todo_focus[id] }}</font></td><td class="col-xs-1">       <a href="{{ url_for('todo_edit',id=id) }}"><button type="button">Edit</button></a>
            </td></tr>
            {% else %}
             <tr><td>
                 <label style="color: grey;"><s><input type="checkbox" name='checked' disabled checked> {{ text }} </s></label> </td><td class="col-xs-1">     <a href="{{ url_for('todo_edit',id=id) }}"><button type="button">Edit</button></a>
             </td></tr>  
            {% endif %}
        {% endfor %}

        </table>
        </form>

         </div>
    </div>

    <h4>Daily affirmation: {% if not past %}<a href="#affirmationButton" id="affirmationButton">(+)</a>{% endif %}</h4>

    <table class="table borderless">
    {% for id, user_id, created_at, text in affirmations %}
        {% if affirmations|length == 0 %}
            <p>
            Add a daily affirmation, positive thought or action you're going to do today.
            </p>
        {% endif %}
        <p>
            <tr><td><h5><i>{{ text }}</i></h5></td><td><a href="{{ url_for('affirmation_edit',id=id) }}"><button type="button">Edit</button></a></td></tr>
        </p>
    {% endfor %}
    </table>

    <form method="post" name="affirmationForm" action="/add_affirmation" id="affirmationForm">
        {{ aForm.hidden_tag() }}
        <p>
        Affirmation text:<br>
        {{ aForm.text(size=64) }}

            {{ aForm.date }}
        </p>
        <input class="btn btn-lg btn-primary" type="submit" value="Submit">
    </form>

  </div>
</div>
{% endblock %}
</body>
</html>