<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

    <div class="container">
    <div class="row">
    <div class="col-md-6">

        <div class="row">
            <div class="col-md-6">
                <h2>Goals <a href="{{ url_for('goal_add') }}">(+)</a></h2>

                <table class="table borderless">
                    {% for id, user_id, text, points, isActive, created_at, edited_at, end_date in goals %}
                    <tr>
                        <td class="col-xs-1">
                            <form method="post" name="goals">
                                <button type="submit" class="btn btn-xs btn-info btn-square" value={{ id }} name="goal">+</button>
                            </form>
                        </td>
                        <td>
                            {{ text }}
                        </td>
                        <td>
                            {{ points }}
                        </td>
                        <td>
                            <a href="{{ url_for('goal_edit',id=id) }}"><button type="button" class="btn-primary btn-xs">Edit</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <div class="col-md-6">
                <h2>Focus <a href="{{ url_for('focus_add') }}">(+)</a></h2>
                                <table class="table borderless">
                    {% for id, user_id, text, points, isActive, created_at, edited_at, end_date in focus %}
                    <tr>
                        <td class="col-xs-1">
                            <form method="post" name="focus">
                                <button type="submit" class="btn btn-xs btn-warning btn-square" value={{ id }} name="focus">+</button>
                            </form>
                        </td>
                        <td>
                            {{ text }}
                        </td>
                        <td>
                            {{ points }}
                        </td>
                        <td>
                            <a href="{{ url_for('focus_edit',id=id) }}"><button type="button" class="btn-primary btn-xs">Edit</button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h2>Group</h2><br>

                <div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-1 col-xs-6">
            <div class="carousel-inner">

                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h4>{{ groups[0][1] }}</h4>
                            <p>
                                {{ groups[0][2] }}
                            </p>
                        </div>
                    </div>
                </div>

                {% for i in range(1,groups|length) %}

                <div class="item">
                    <div class="carousel-content">
                        <div>
                            <h4>{{ groups[i][1] }}</h4>
                            <p>{{ groups[i][2] }}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>
            </div>
        </div>

    </div>


    <div class="col-md-6">
        <h2> <a href="{{ url_for('timetravel', date=days["yesterday"]) }}"><</a>  {{ days["today"].strftime("%d %B %Y") }}  <a href="{{ url_for('timetravel', date=days["tomorrow"]) }}">></a>  </h2>
      <h3>Terve {{ user.name }}</h3>
        <h4>Notes <a href="{{ url_for('note_add', date=days["today"]) }}">(+)</a></h4>

            <table class="table borderless">
                {% for id, user_id, text, isTimed, time, date in tnotes %}
                    <tr>
                    <td class="col-xs-2"> {{ time.hour }}:
                        {% if (time.minute == 0) %}00
                        {% else %}
                                {{ time.minute }}
                        {% endif %}
                    </td>
                    <td class="col-md-2">{{ text }}</td>
                    <td><a href="{{ url_for('note_edit',id=id) }}"><button type="button">Edit</button></a></td>
                    </tr>
                {% endfor %}
            </table>


        <table class="table borderless">
            {% for id, user_id, text, isTimed, time, date in notes %}
            <tr>
                <td class="col-md-2">{{ text }}</td>
                <td><a href="{{ url_for('note_edit',id=id) }}"><button type="button">Edit</button></a></td>
            </tr>
            {% endfor %}
        </table>


        <h4>Todos <a href="{{ url_for('todo_add', date=days["today"]) }}">(+)</a></h4>
         <form method="post">
        {% for id, user_id, text, isComplete, date in todos %}

            {% if isComplete == 0 %}
            <div class="divbutton">
                <label><input type="checkbox" name='check' value={{ id }}  onclick="this.form.submit()"> {{ text }} </label>        <a href="{{ url_for('todo_edit',id=id) }}"><button type="button">Edit</button></a>
            </div>
            {% else %}
               <div class="divbutton">
                   <label><s><input type="checkbox" name='checked' disabled checked> {{ text }} </s></label>      <a href="{{ url_for('todo_edit',id=id) }}"><button type="button">Edit</button></a>
                </div>
            {% endif %}


            </p>
        {% endfor %}
        </form>
    </div>
  </div>
</div>


{% endblock %}
</body>
</html>